*{
    margin: 0px;
    padding: 0px;
}
.sign-up-now{
    background-color: black;
    color: grey;
    height: 25px;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.cross{
    height: 12px;
    width: 12px;
    position: absolute;
    right: 50px;
}
.header{
    height: 70px;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;
}
.sub-header{
    height: 50px;
    width: 30vw;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}
.sub-header-item{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.text1{
    width:400px;
    height: 30px;
    border-radius: 10px;
    border: 1px rgb(200, 200, 200) solid;
    background: rgb(200, 200, 200);
    color: grey;
    font-size: 8;
    padding-left:40px;
    background: url(images/search.png) no-repeat scroll 7px 2px;
}
.container{
    height: 450px;
    width: 100vw;
    background-color: rgb(240, 240, 240);
    display: flex;
    position: relative;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
.sub-container{
    position: relative;
    height: 450px;
    width: 30vw;
    left: 90px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: start;
    gap: 15px;
}
.sub-container1{
    position: absolute;
    height: 450px;
    width: 40vw;
    left: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: start;
    gap: 15px;
}
.shop-now{
    width: 120px;
    height: 30px;
    border-radius: 100px;
    background-color: black;
    color: white;
    border: 1px black solid;
}
.sub-container-items{
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.sub-container-items-divider{
    height: 50px;
    width: 1px;
    background-color: rgb(200, 200, 200);
}
.image1{
    position: absolute;
    height: 450px;
    width: 450px;
}
.vector1{
    position: absolute;
    top: 200px;
    height: 50px;
    width: 50px;
}
.vector2{
    position: absolute;
    left: 375px;
    top: 50px;
    height: 100px;
    width: 100px;
}
.brands{
    height: 80px;
    width: 100vw;
    background-color: black;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}
.brand-image{
    height: 40px;
    width: 150px;
}
.products{
    height: 450px;
    width: 100vw;
    margin-top:50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.products-container{
    height: 450px;
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;    
}
.product{
    height: 450px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: start;
    align-content: space-evenly;
    flex-wrap: wrap;
}
.divider{
    height: 0.1px;
    width: 90vw;
    border: 0.1px rgb(211, 209, 209) solid;
    position: absolute;
    left: 5vw;
}